
<header>
<div class="header-title">
<h1>Camp Crew </h1>
</div>
  <div class="header-menu">
    <div class="header-title">
    <h1></h1>
    </div>
</header>
<div class="all-ground">
  <div class="header-info">
      <ul class='lists-right'>
        <% if user_signed_in? %>
       <div class="user-desc">
        <div class="user-name">
          <li><%= link_to "こんにちは#{current_user.nickname}さん", root_path, class: "user-nickname" %></li>
        </div>
        <div class="header-menus">
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout"%></li>
          <li><%= link_to '投稿する', new_event_path, class: "sign-up" %></li>
          <li><%= link_to '地図から探す', root_path, class: "sign-up" %></li>
        <% else %>
          <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
          <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
        <% end %>
         

  <div class="heading">
    <h1 class="title">TECH HEADER</h1>
  </div>
  <div class="navbar">
    <ul class="nav-lists">
      <li class="list-status">
        現在のリスト；
        <span id="current-list">選択されていません</span>
      </li>
      <li class="background-red" id="lists">リスト
      </li>
      <li>カリキュラム変更</li>
    </ul>
    <ul class="show-lists hidden" id="pull-down">
      <li class="pull-down-list">リスト1</li>
      <li class="pull-down-list">リスト2</li>
      <li class="pull-down-list">リスト3</li>
      <li class="pull-down-list">リスト4</li>
    </ul>
  </div>




        </div>
      </div>
      </ul>
    </div>
  </div>

<div class="g-map">
<div id="target"></div>
</div>


<!--google-map-->




<div class="main">
<div class="contener-main">
<h2></h2>
<div class="g-map">

<input id="address" type="textbox" value="GeekSalon">
<input type="button" value="Encode" onclick="codeAddress()">
<div id="display"></div>

<div id='map'></div>

<style>
#map {
  height: 600px;
  width: 800px;
}
</style>

<script>
let map
let geocoder
const display = document.getElementById('display')

function initMap(){
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 35.6603, lng:139.7051},
    zoom: 12,
  });

  marker = new google.maps.Marker({
    position:  {lat: 35.6603, lng:139.7051},
    map: map
  });
}

function codeAddress(){
  let inputAddress = document.getElementById('address').value;

  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
      map.setCenter(results[0].geometry.location);
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });
      display.textContent = "検索結果：" + results[ 0 ].geometry.location
    } else {
      alert('該当する結果がありませんでした：' + status);
    }
  });   
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap"></script>
</div>


<!--google-map-->




  <div class="event-lists">
    <h1>イベント一覧 </h1>
    <div class="event-title"> 
      <%= render partial: "event", collection: @events %>
    </div>
      <div class="event">
        <h3>イベント写真</h3>
      </div>
      <div class="event">
      <h3>コンセプト</h3>
      </div>
      <div class="event">
      <h3>企画者</h3>
      </div>
  </div>
</div>



<div class="genre-item">
  <div class="past-log">
    <h1>ジャンルから選ぶ</h1>
  </div>
  <div class="genre-images">
    <div class="genre-image">
      <%= link_to image_tag("tent.png", class:"genre-btn"),  :tags %>
      <h2>オートキャンプ</h2>
    </div>
    <div class="genre-image">
      <%= link_to image_tag("fire.png", class:"genre-btn"), :tags %>
      <h2>アクティビティ</h2>
    </div>
    <div class="genre-image">
      <%= link_to image_tag("campfire.png", class:"genre-btn"), :tags %>
      <h2>料理にこだわる</h2>
     </div>
  </div>
</div>


<div class="past-log">
<h1>過去の開催模様</h1>
</div>

  <div class="card__wrapper">
    <%= render partial: "event", collection: @events %>
  </div>
</main>
</div>
