event#show
<main class="main">
  <div class="inner">
    <div class="prototype__wrapper">
      <p class="prototype__hedding">
        <%= @event.concept %>
      </p> 
      <% if user_signed_in? && current_user.id == @event.user_id %>
      <%= link_to @event.user.nickname , root_path, class: :prototype__user %>
        <div class="prototype__manage">
          <%= link_to "編集する",  edit_event_path, class: :prototype__btn %>
          <%= link_to "削除する",  event_path, method: :delete, class: :prototype__btn %>
        </div>
      <% end %>
      <div class="prototype__image">
        <%= image_tag @event.image %>
      </div>
      <div class="prototype__body">
        <div class="prototype__detail">
          <p class="detail__title">キャッチコピー</p>
          <p class="detail__message">
            <%= @event.place %>
          </p>
        </div>

        <div class="prototype__detail">
          <p class="detail__title">キャッチコピー</p>
          <p class="detail__message">
            <%= @event.period %>
          </p>
        </div>

      </div>

    </div>
  </div>
</main>