
<header>
<div class="header-title">
<h1>Camp Crew </h1>
</div>
  <div class="header-menu">
    <div class="header-title">
    <h1></h1>
    </div>
</header>
<li><%= link_to '地図から探す', root_path, class: "sign-up" %></li>
<div class="user-infos">
<div class="user-info">
<h2>ログイン</h2>
<div class="log-in-info">
 <%= form_with model: @user, url: new_user_session_path, id: 'new_user', class: 'new_user', local: true do |f| %>
  <div class="field">
    <%= f.label :"メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :"パスワード" %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :"ユーザー情報を記憶しておく" %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>
</div>
<%= render "devise/shared/links" %>

</div>

</div>
